@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 932px) {
  body {
    font-size: 12px;
  }
  input#search {
    width: 200px;
    padding-left: 7.5vw;

  }
  .col-xs-12 {
    width: 100%;
    justify-content: left;
    display: flex;
}
.col-xs-6.col-md-4.iconky.text-left.n {
    left: 11%;
}
div.d {
    padding-left: 2.2vw;
}
.alora_logo {
    padding-top: 5px;
  }
  .navbar {
    padding-bottom: 15px;
  }
.full-image{
    top: 22%;
}
.cover_text_div{
    font-size: 5px;
}
a.cover_button {
    font-size: 5px;
    padding: 4px;
    top: 33.2%;
    position: absolute;
    left: 8.5%;
}
.cover_text_div {
    position: absolute;
    top: 30%;
    left: 6.5%;
}

}

@media (max-width: 380px) {
.full-image {
    top: 26%;
}
a.cover_button {
    font-size: 5px;
    padding: 4px;
    top: 39.2%;
    position: absolute;
    left: 8.5%;
}
.cover_text_div {
    position: absolute;
    top: 35%;
    left: 6.5%;
}}


.d-flex {
    display: flex!important;
}
.justify-content-center{
    justify-content: center!important;
}
.position-relative {
    position: relative!important;
}
.full-image {
    height: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.bl {
    margin-right: 2px;
    margin-left: 2px;
    width: 100%;
    margin-top: 15px;
}

.t {
    position: relative;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.upper_text_container .upper_div {
    background-color: #B9B3C6;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center; 
}
.upper_div>h3 {
    margin: 0;
    text-align: center;
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.6875em;
   text-transform: uppercase;
}
.iconky {
    display: flex;
    left: 18%;
    flex-wrap: wrap;
}
.logo_main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.searchbar_main_a {
    padding-left: 5vw;
}
.search_button {
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    ;
}
#search {
    color: black;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.6875em;
    max-width: 150px;
    height: 30px;
    margin-right: 35%;
    padding-left: 2.5vw;
    border: 1px solid gray;
    border-radius: 2px
}
.d {
    padding-left: 1.2vw;
}
.navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}
.nav-item>a {
    color: black;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.8750em;
    text-transform: uppercase;
}
.nav-item {
    padding: 0 1vw;
}


.cover_text {
    color: black;
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    line-height: 1.3em;
    margin: 0;
    left: 7.8%;
}

.cover_image_section{
    margin-top: 15px;
}
.cover_button {
    color: white;
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 1em;
    text-transform: uppercase;
    left: 7.8%;
    letter-spacing: 0.12em;
    line-height: 1.3em;
    background-color: black;
    
    /* text-align: center; */
    padding: 15px;
    /* border: 15px; */
    position: relative;
}
@media (min-width: 1000px) {
    .cover_text_div_a {
        position: absolute;
        left: 6.3%;
        top: 67%;
    }
    .cover_text_div {
        position: absolute;
        top: 52%;
        left: 5%;
    }
}
.open_b {
    border:none;
    background-color: transparent;
}
 /* login */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    font-size: 16px;
}
.h1pop {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    padding: 0 10px;
}
.inlineh1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.check_text {
    font-size: 0.75em;
    font-weight: 400;
    color: black;
}
.ch_text {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.form-text {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.popform {
    max-width: 582px;
    padding: 50px 65px;
    background-color: white;
    border: 1px solid #B9B3C6;
}
.s_btn {
    text-align: center;
    margin-top: 30px;
    max-width: 450px;
}

h1.h1pop.v {
    padding-right: 3vw;
}
h1.h1pop.p {
    padding-right: 3vw;
}

.t_frm {
    margin-bottom: 25px;
    height: 41px;
    padding-left: 15px;
}
input[type=checkbox] {
    margin: 4px 15px 0 0;
    line-height: normal;
}
input {
    font-size: 0.8em;
    font-weight: 400;
    color: black;
    border: 1px solid #B9B3C6;
    background-color: #B9B3C6;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    width: 100%;
    color: white;
    background-color: black;
    user-select: none;
    text-transform: uppercase;
}
#myform {
    display: none;
    position: fixed;
    border: none;
    z-index: 9;
    top: 12%;
    left: 32%;
    z-index: 9;
    width: 582px;
}

#main-container.blur {
    filter: blur(10px); /* Adjust the blur amount as needed */
}

